.btn {
    padding: 1rem 3rem;
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.btn:hover {
    transform: scale(0.95);
    transition: .3s all ease-in-out;
    color: var(--primary-color);
}

.center {
    text-align: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.all-caps {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}



.d-none {
    display: none;
}

body {
    position: relative;
}

.notify {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(50, 143, 155);
    color: white;
    padding: 1rem 2rem;
    font-weight: normal;
    border-radius: 0px 0px 20px 20px;
    font-family: var(--Lexend);

}

.notify .notification-progress {
    position: absolute;
    bottom: 0;
    height: 10px;
    left: 50%;
    background-color: rgb(151, 26, 26);
    transform: translateX(-50%);
    animation-timing-function: linear;

}

.animate-progress {
    animation: progress;


}

@keyframes progress {
    0% {
        width: 0%;
    }

    50% {
        border-radius: 0px 0px 20px 20px;
        width: 50%;
    }

    100% {
        width: 90%;
        border-radius: 0px 0px 30px 30px;
        padding-bottom: 5px;
    }

}